article.wrapper-contain{
	padding: .5em;	
}

.wrapper-section:nth-child(3),.wrapper-section:nth-child(5){
  background-color: rgba(4, 25, 44,.9);
  color: white;
}

.circle{
    width: 35vh;
    height: 35vh;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 235, 14);
    z-index: -1;
    box-shadow: -2px 0px 15px 10px rgb(199, 185, 0);
  }
/* Tipografia */

	h1{
	  font-size: 2.7em;
	  padding: .5em;
	  color: rgba(0, 246, 87, 1.0);
	  font-family: Montserrat;
	}
	h2,.link-colabora{
	  font-size: 2em;
	  font-weight: 700;
	  font-family: Montserrat;
	  font-variant: small-caps;
	  padding: 2rem 1rem;
	}
	p{
	  font-size: 1.5em;
	  text-align: left;
	  color: rgba(0, 0, 0, .7);

	}

	a{
		color: white;
		text-decoration: none;
	}

	.ul-aprendizaje li{
	  text-align: left;
	}
	.ul-aprendizaje li::marker {
	  content: "🚀";
	}

	ol li{
	  text-align: left;
	}


/* Media Query */

	@media screen and (min-width: 480px){
		/* nav */  
		  nav .div-link{
		    display: block;
		    width: 20%;
		  }

		  nav .div-link:hover{
		    background-color: rgba(1, 155, 217, .5);
		  }

		  nav .div-link:hover a{
		    color: white;
		    
		  }

		  .div-link-left{
		    position: relative;
		    left: 43%;
		  }
		  .div-link-600px{
		    display: none;
		  }

		  .cody-wrapper{
		    width: 10%;
		  }

		  .header .wrapper-contain{
		    margin-top: 10vh;
		  }

		  .header .wraper-button{
		    margin: 3em auto 0;
		  }

		  .ancla{
		    width: 45%;
		  }

		/* vacaciones */
		  .circle-Vacaciones{
		    top: 130vh;
		    left: 50vw;
		  }

		  .cursos{
		    margin-top: 20vh;
		  }

		/* Ruta */
			.Route-img{
			  height: 75vh;
			}

		/* Colaborara */
			.wrapper-section:nth-child(4) .circle-Colabora{
				width: 60vh;
				height: 60vh;
				top: 375vh;
				left: 22vw;
			}
			.colabora-button{
				width: 65%;
			}

		/* Vacaciones */
			.wrapper-contain .img01{
				top: -11%;
			}
			.wrapper-contain .img02{
			    top: -5%;
			}
			.wrapper-contain .img03{
		    	top: 1%;
	  		}
	}
	@media screen and (min-width: 700px){
		/* Header  */
		  .header .ancla{
		    width: 22%;
		    margin-top: 5vh;
		  }

		  .header .wrapper-contain{
		    margin-top: 18vh; 
		  }

		/* Vacaciones */
		  .wrapper-Flex{
		    width: 100%;
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: space-evenly;
		  }

		  .text-cursos{
		    padding: .5em 0;
		  }
		  .text-cursos, .cursos{
		    width: 45%;
		  }
		  .cursos div{
		    height: 12%; 
		    width: 100%;
		  }
		  .cursos{
		    margin-top: 40vh;
		    height: 1%; 
		  }
		  .circle-Vacaciones{
		    width: 50vh;
		    height: 50vh;
		    top: 160vh;
		    left: 35vw;
		  }
		  .text-cursos p:last-child{
		    width: 45%;
		    max-width: 20em;
		    position: absolute;
		    top: 145vh;
		    left: 51vw;
		    font-weight: bold;
		    text-align: center;
		    font-size: 1.5em;
		    color: rgba(0, 0, 0, 1);
		  }

		/* Rutas */

			.wrapper-section:nth-child(3){
				/* width: 90%; */
		  		display: flex;
		  		justify-content: space-evenly;
			}
			.wrapper-section:nth-child(3) p{
				padding: 0;
			}
			.route-section{
				width: 45%;
				margin: auto;
			}
			.wrapper-section:nth-child(3) .Route-img img{
				margin-top: 15vh;
			}

		/* Colaborara */
			.wrapper-section:nth-child(4) .circle-Colabora{
				width: 90vh;
				height: 90vh;
				top: 320vh;
				left: 17vw;
				
			}
			.wrapper-section:nth-child(4) .wrapper-contain p{
				width: 70%;
		 		border-right: 3px solid rgb(29, 48, 65);

			}
			.wrapper-section:nth-child(4) .wrapper-contain p:nth-child(3){
				text-align: right;
				position: relative;
				left: 26%;
		 		border-right: none;
		 		border-left: 3px solid rgb(29, 48, 65);

			}
			.colabora-button{
			width: 45%;
			}

			/* Vacaiones */

  			.wrapper-section:nth-child(5) .wrapper-contain{
  				width: 50%;
  			}
  			.wrapper-contain .img01{
			    top: -8%;
			}
			.wrapper-contain .img02{
			    top: -2%;
			}
			.wrapper-contain .img03{
				top: 4%;
			}
  			.img-galery img{
				max-width: 70%;
				max-height: 15em;
			}
	}

	@media screen and (min-width: 900px){
	  .text-cursos{
	    margin-top: 6vh;
	  }
	  .wrapper-section:nth-child(4) .circle-Colabora{
		left: 35vw;
	  }

	   .colabora-button{
	    margin-top: 20vh;
	  }
	  /* Vacaciones */

	  	.wrapper-contain .img01{
		    top: -18%;
		}
		.wrapper-contain .img02{
		    top: -12%;
		}
		.wrapper-contain .img03{
			top: -5%;
		}
		.img-galery:nth-child(4){
			height: 20.5em;
		}
	}

	@media screen and (min-height: 900px){
	  .header .wrapper-contain{
	    margin-top: 30vh; 
	  }
	}